@mixin btnStyleColor($bgc, $color){
    background-color: $bgc;
    color: $color;
}

button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #e9e9e9;
    color: #00000066;

    cursor: pointer;

    transition: 0.3s;
}

.submit{
    @include btnStyleColor(#2957ff, #fff);
}